@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

svg rect {
  fill: steelblue;
}

svg text{
  fill: white;
  font-family: 'Hanna', sans-serif;
  font-size: 10px;
}

.root circle {
  fill: #DF5A49;
}

.node circle {
  fill: #45b29d;
}

.leaf circle {
  fill: #efc94c;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

#app #bar{
  list-style: none;
  background-color: rgb(184,184,184);
  text-align: left;
  padding: 10px;
  margin: 0;
  height: 20px;
}

#app #bar #searchInput{
  width: 300px;
  height: 16px;
  position: absolute;
  margin-left: 5px;
}

#app #bar #searchButton{
  position: absolute;
  left: 360px;
  height: 20px;
}

#vis {
  margin-top: 10px;
}
