@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

svg rect {
  fill: steelblue;
}

svg text{
  fill: white;
  font-family: 'Hanna', sans-serif;
  font-size: 10px;
  text-anchor: end;
}

.root circle {
  fill: #DF5A49;
}

.node circle {
  fill: #45b29d;
}

.leaf circle {
  fill: #efc94c;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

#app #bar{
  list-style: none;
  background-color: rgb(184,184,184);
  text-align: center;
  padding: 10px;
  margin: 0;
}
