@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

svg rect {
  fill: steelblue;
}

svg text{
  fill: gray;
  font-family: 'Hanna', sans-serif;
  font-size: 50%;
  text-anchor: end;
}

svg circle {
  fill: #45b29d;
  fill-opacity: .75;
  stroke: none;
}

.leaf circle {
  fill: #efc94c;
  stroke: none;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
